@model GIP.PRJ.TraiteurApp.Models.OrderDetail

@{
    ViewData["Title"] = "Bestelgegevens Toevoegen";
}

<h1>Bestelgegevens Toevoegen</h1>

<h4>Bestelgegevens</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="color:green">@ViewBag.Message</div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <!--readonly zodat het orderid niet kan aangepast worden-->
                <input asp-for="OrderId" class ="form-control" readonly="readonly">
            </div>
            <div class="form-group">
                <label asp-for="MenuItemId" class="control-label"></label>
                <select asp-for="MenuItemId" class ="form-control" asp-items="ViewBag.MenuItemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Toevoegen" class="btn btn-primary" />

                <a asp-action="Index" asp-route-id="@Model.OrderId" class="btn btn-success">Terug naar de bestellingen</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
